{% extends "base.html" %}
{% block page_title %} {{ entry.title }} {% endblock %}
{% block header %}
<div class="published"><a href="/">{{ entry.author }}</a> &ndash; {{ entry.published_html }}</div>
<h1>{{ entry.title }}</h1>
{% endblock %}
{% block content %}
<div class="body">
  {{ entry.body_html }}
</div>
<div class="meta">
  {% if entry.kind == 'link' %}
  <div class="link-url"><a href="{{ entry.url }}">continue reading on {{ entry.domain_name }}</a></div>
  {% endif %}
</div>
<div class="tags">
  <p>This entry was tagged 
  {% for tag in entry.tags %}
  <a class="tag" href="/tags/{{ tag.slug }}"><span>{{ tag.name }}</span></a>{% if not loop.last %}, {% endif %}
  {% endfor %}
</div>
<div id="underpost">
  <h3>Discussions/Feedback.</h3>
  {% if entry.discussions_link %}
    <p>If you wish to, you can discuss/mock/upvote/downvote at <a href="{{ entry.discussions_link }}">Hacker News</a>.</p>
  {% endif %}

  <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'cloudartisan';

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  {% if entry.credits %}
    <h3>Credits.</h3>
    <p>{{ entry.credits_html }}</p>
  {% endif %}
</div>
{% endblock %}
